

@model IEnumerable<EmployeeViewModel>
@{
    ViewData["Title"] = "Index";
}
<div class="IndexEmployee After">
    <div class="w-100  text-center mb-3 ">
        <h1 class=" ">All Employee </h1>
    </div>
        <div class="Searh   m-auto my-4">
            <form asp-action="Index" class=" d-flex justify-content-center gap-3">
                <input type="text" id="InputSearch" name="InputSearch" class="form-control" />
                <input type="submit" value="Search" class="btn btn-success p-3 rounded-2" />
            </form>
        </div>
            <a asp-controller="Employee" asp-action="Create" class="btn btn-success my-4">Create Employee</a>
    @if (Model.Count() > 0)
    {

        <div class=" BodeAllEmps">
            <table class="table table-striped table-hover text-center small ">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(D => D.Image)</th>
                        <th>@Html.DisplayNameFor(D => D.Name)</th>
                        <th>@Html.DisplayNameFor(D => D.Age)</th>
                        <th>@Html.DisplayNameFor(D => D.WorkFor)</th>
                        <th>@Html.DisplayNameFor(D => D.Email)</th>
                        <th>@Html.DisplayNameFor(D => D.phoneNumber)</th>
                        <th>@Html.DisplayNameFor(D => D.Salary)</th>
                        <th>@Html.DisplayNameFor(D => D.Address)</th>
                        <th>@Html.DisplayNameFor(D => D.HiringDate)</th>
                        <th>@Html.DisplayNameFor(D => D.IsActivated)</th>
                        <th>Details</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody class="">
                    @foreach (var emp in Model)
                    {
                        <tr>

                            <td><img src="~/Files/Images/@emp.ImageName" height="75" width="75" class=" w-100 rounded-circle" /></td>
                            <td>@emp.Name</td>
                            <td>@emp.Age</td>
                            <td>@emp.WorkFor?.Name</td>
                            <td>@Html.DisplayFor(D => emp.Email)</td>
                            <td>@emp.phoneNumber</td>
                            <td>@Html.DisplayFor(D => emp.Salary)</td>
                            <td>@emp.Address</td>
                            <td>@emp.HiringDate</td>
                            <td>@Html.DisplayFor(D => emp.IsActivated)</td>

                            <partial name="ButtonsPartialView" model="@emp.Id.ToString()"></partial>

                        </tr>
                    }
                </tbody>
            </table>
        </div>

    }
    else
    {
        <div class="mt-4 alert alert-warning">
            <h4>There is No Employee :(</h4>
        </div>
    }
</div>



